<!-- 月間サマリーグラフ -->
<div class="row">
  <div class="col-xs-12">

    <div class="row bymonth hour">
      <% for m in [4, 5, 6, 7, 8, 9, 10, 11, 12, 1, 2, 3] do %> 
      <div class="col-xs-1 nopadding">
        <div class="outer">
          <div class="vertical_bottom">
            <%= sprintf("%g", @vacationHourOfMonth[m]) if @vacationHourOfMonth[m] > 0 %>
            <p class"inner" style="background: linear-gradient(#66d, #99f); margin: 0 auto 0 auto; width: 80%; height: <%= @vacationHourOfMonth[m] %>px;"></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="row bymonth">
      <% for m in [4, 5, 6, 7, 8, 9, 10, 11, 12, 1, 2, 3] do %> 
      <div class="col-xs-1 nopadding"><%= m %></div>
      <% end %>
    </div>

  </div>
</div>
