<!-- 月間サマリーグラフ -->
<div id="bymonth" class="row">
  <div class="col-xs-12">

    <div class="row">
      <% for m in [4, 5, 6, 7, 8, 9, 10, 11, 12, 1, 2, 3] do %> 
      <div class="col-xs-1 nopadding">
        <div class="outer">
          <div class="vertical_bottom">
            <span class="hour"><%= sprintf("%g", @vacationHourOfMonth[m]) if @vacationHourOfMonth[m] > 0 %></span>
            <p class"inner" style="background: linear-gradient(#77f, #88f); margin: 0 auto 0 auto; width: 80%; height: <%= @vacationHourOfMonth[m] %>px;"></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="row">
      <% for m in [4, 5, 6, 7, 8, 9, 10, 11, 12, 1, 2, 3] do %> 
      <div class="col-xs-1 nopadding"><%= m %></div>
      <% end %>
    </div>

  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    // ここに処理を記述します
    $('#bymonth').click(function() {
      $('.vertical_bottom span').fadeToggle(500);
    });
  });
</script>
