<%# 月間サマリーグラフ %>
<div id="bymonth">

  <div class="_row">
    <div class="col-xs-1 nopadding" ng-repeat="mm in remain.vacationHourAtMonth">
      <div class="outer">
        <div class="vertical_bottom">
          <span class="hour">{{mm.hour}}</span>
          <p class="inner" style="background: linear-gradient(#79bfff 0%, #87bdff 100%); margin: 0 auto 0 auto; width: 80%;"></p>
        </div>
      </div>
    </div>
  </div>

  <div class="_row">
    <div class="col-xs-1 nopadding" ng-Class="{'past': (mm.term = 'past')}" ng-repeat="mm in remain.vacationHourAtMonth">{{mm.month}}</div>
  </div>

</div>


