<%# 詳細表示 %>
<div class="row text-center">
  <div class="col-xs-10 col-xs-offset-1">
    <%= @user.id %>: <%= link_to @user.name, @user %>
    <br />
    <!--<a href="mailto:<%= @user.email %>" class="small"><%= @user.email %></a>-->
  </div>
</div>

<div class="row text-center">
  <div class="col-xs-9 col-xs-offset-3">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon input-sm detail-caption">繰り越し</div>
        <div class="form-control input-sm detail-value">
          <p class="form-control-static">{{remain.paid_vacation_carryover_hours | number: 1}}&nbsp;<small>時間</small></p>
        </div>
      </div>
      <div class="input-group">
        <div class="input-group-addon input-sm detail-caption">支給</div>
        <div class="form-control input-sm detail-value">
          <p class="form-control-static">{{remain.paid_vacation_hours | number: 1}}&nbsp;<small>時間</small></p>
        </div>
      </div>
      <div class="input-group">
        <div class="input-group-addon input-sm detail-caption">合計</div>
        <div class="form-control input-sm detail-value">
          <p class="form-control-static">{{remain.paid_vacation_total_hours | number: 1}}&nbsp;<small>時間</small></p>
        </div>
      </div>
      <div class="input-group">
        <div class="input-group-addon input-sm detail-caption">消化</div>
        <div class="form-control input-sm detail-value">
          <p class="form-control-static">{{remain.vacation_total_hours | number: 1}}&nbsp;<small>時間</small></p>
        </div>
      </div>
      <div class="input-group">
        <div class="input-group-addon input-sm detail-caption">残り</div>
        <div class="form-control input-sm detail-value">
          <p class="form-control-static">{{remain.paid_vacation_total_hours - remain.vacation_total_hours | number: 1}}&nbsp;<small>時間</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
