<%# のこり表示 %>
<div class="_row">
  <div class="col-xs-12">

    <!-- のこり日数(時間を日数に換算) -->
    <h4 id="remain-caption" class="text-center" style="">のこり</h4>
    <h1 id="remind-days" class="text-center">
      &nbsp;&nbsp;<strong>{{remain.remain_days}}</strong><small>日</small>

    </h1>

    <!-- のこり端数時間 -->
    <h5 id="remind-hours" class="text-center">
        <span ng-class="{'hidden': (remain.remain_hours == 0)}">&nbsp;&nbsp;&nbsp;&nbsp;+&nbsp;{{remain.remain_hours}}<small>&nbsp;時間</small></span>
      <br />
    </h5>
    <br/>
    <br/>

  </div>
</div>

<!-- プログレスバー -->
<div id="remain-bar" class="_row">

    <div class="col-xs-2">
    </div>

    <div class="col-xs-8 nopadding">

      <div class="progress" style="height: 2em;">
        <!-- 繰り越し消化日数 -->
        <div class="progress-bar progress-bar-success" ng-class="{'hidden': (remain.carryover_hours <= 0)}" style="width: {{(remain.carryover_hours / remain.total_hours) * 100 }}%;">
          <span class="progress-caption inner">{{remain.carryover_hours / 8 | number:0}}<small>日</small></span>
        </div>
        <!-- 繰り越し残り日数 -->
        <div class="progress-bar" style="background-color: #ded; width: {{(remain.carryover_hours_remain / remain.total_hours) * 100}}%;">
        </div>
       <!-- 支給消化日数 -->
        <div class="progress-bar progress-bar-warning" ng-class="{'hidden': (remain.hours <= 0)}" style="width: {{((remain.hours - remain.carryover_hours_remain) / remain.total_hours) * 100}}%;">
          <span class="progress-caption inner">{{remain.hours / 8 | number:0}}<small>日</small></span>
        </div>
        <!-- 超過日数 -->
        <div class="progress-bar progress-bar-danger" ng-class="{'hidden': (remain.hours <= 0)}" style="width: {{(remain.over_hours / remain.total_hours) * 100}}%;">
          <span class="progress-caption inner">{{remain.over_hours / 8 | number:0}}<small>日</small></span>
        </div>
      </div>

    </div>
    <div class="col-xs-2" style="padding: 1px 0 0 6px; ">
      <!-- 全休暇日数 -->
      <nobr><span class="progress-caption">{{remain.paid_vacation_total_hours / 8 | number:0}}<small>日</small></span></nobr>
    </div>

</div>
