<% provide(:title, "編集") %>

<ons-page ng-controller="VacationController">
  <ons-toolbar>
    <div class="left">
    	<ons-back-button>戻る</ons-back-button>
  	</div>
    <div class="center">編集</div>
    <div class="right">
      <ons-toolbar-button ng-click="updateVacations(<%= @vacation.id %>)">保存</ons-toolbar-button>
    </div>
  </ons-toolbar>

<%= render 'form' %>

<ons-bottom-toolbar>
   <div class="right"><ons-toolbar-button ng-click="deleteVacations(<%= @vacation.id %>)">削除</ons-toolbar-button></div>
</ons-bottom-toolbar>

</ons-page>
<!--
<%= link_to t('deliver'), new_send_mail_path(:id => params[:id]), 
                          :class => "btn btn-warning", data: { no_turbolink: true } %>
-->