<% provide(:title, "編集") %>

<ons-page ng-controller="VacationController">
  <ons-toolbar>
    <div class="left">
    	<ons-back-button>戻る</ons-back-button>
  	</div>
    <div class="center">編集</div>
    <div class="right">
      <ons-toolbar-button ng-click="updateVacations(<%= @vacation.id %>)">保存</ons-toolbar-button>
    </div>
  </ons-toolbar>

<%= render 'form' %>


<%= link_to t('deliver'), new_send_mail_path(:id => params[:id]), 
                          :class => "btn btn-warning", data: { no_turbolink: true } %>

<%= link_to t('destroy'), vacation_path(), 
                       method: :delete, data: { confirm: t('destroy_confirm'), no_turbolink: true },
                       :class => "btn btn-danger pull-right" %>

</ons-page>