<% provide(:title, '新規') %>

<ons-page ng-controller="VacationController">
  <ons-toolbar>
	   <div class="left">
	     <ons-toolbar-button ng-click="dismissView()">キャンセル</ons-toolbar-button>
	   </div>
	   <div class="center">新規</div>
	   <div class="right">
	     <ons-toolbar-button ng-click="createVacations(<%= @user.id %>)">保存</ons-toolbar-button>
	   </div>
  </ons-toolbar>

<%= render 'form' %>

<!--<%= link_to t('back'), request.headers[:referer], :class => "btn btn-default", data: { no_turbolink: true } %>-->

</ons-page>