// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.vacation {
  display: inline-block; 
}

.vacation.month {
  width:25px; 
  text-align: right;
  font-size: smaller;
  font-weight: bold;
}

.vacation.date {
  width:25px;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

.vacation.weekday {
  width:20px;
  font-size: smaller;
}

.vacation.hour {
  width:16px; 
  text-align: right;
}

.vacation.memo {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 150px;
}

#flick {
	width: 100%;
	position: relative; /* IE6・7の overflowバグ回避 */
	overflow: auto;     /* JavaScript無効時にスクロール表示させたいから */
}

#flick ul {
	display: block;
	width: 200%;
	margin: 0;
	padding: 0;
}

#flick ul li {
	float: left;
	list-style-type: none;
	width: 50%;
}

.indicator {
	position: relative;
	overflow: hidden;
	width: 13px;
	height: 5px;
	background-image: image-url("indicator_bg.png") repeat-x left top;
	margin: 0 auto 15px auto;
}

.indicator img {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
}
