// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#year {
  position: fixed;
  background-color: #f0f0f0;
  background: rgba(235,235,235,0.95);
  height: 40px;
}

#dashboard {
  padding: 15px 0 15px 0;
  margin: 0px;
  height: 280px; // ページ部分の高さを変える場合はここで指定する
  background-color: #f0f0f0;
  background: linear-gradient(rgba(235,235,235,0.95) 40px, rgba(240,240,240,0.95) 100%);
  overflow: hidden;
}

#flick {
  margin-top: 40px;
}

// flicksimple.js用ページ設定
/* ページ数は偶数にすること。
   奇数ページだと１ページあたりのwidth計算で端数がでるためうまくいかない */
$pages:2;

#flick-body {
	width: 100%;
	position: relative; /* IE6・7の overflowバグ回避 */
	overflow: auto;     /* JavaScript無効時にスクロール表示させたいから */
  ul {
  	display: block;
  	width: 100% * $pages;     /* ページ数 × 100% */
  	margin: 0;
  	padding: 0;
    li {
      float: left;
      list-style-type: none;
      width: 100% / $pages;   /* 100% ÷ ページ数 */
      }
    }
}

// プログレスバー
.progress-caption {
  font:{
    size: large;
  }
}
.progress-caption.inner {
    position: relative;
    top: 15%;
}

// ページインジケータ
#indicator {
  position: relative;
  overflow: hidden;
  width: 13px;
  height: 5px;
  background: image-url("indicator_bg.png") repeat-x left top;
  margin: 0 auto 0 auto;
  img {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    }
}


// 月間サマリーグラフ
#bymonth {
  text-align: center;
  font:{
    size: smaller;
  }
}
#bymonth .hour {
  font:{
    weight: bold;
  }
  display: none;  /* デフォルト非表示でクリックすると表示 */
}

// colのpaddingとmarginを削除する
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

// 月間サマリーグラフを下揃えにする
div.outer {
    display: table;
//     height: 100px; // 高さはjavaScriptで計算して設定する
    width: 100%;
}
    * html div.outer {
        position: relative;
    }
    *+html div.outer {
        position: relative;
    }
div.vertical_bottom {
    display: table-cell;
    vertical-align: bottom;
}
    * html div.vertical_bottom {
        position: absolute;
        top: 100%;
    }
    *+html div.vertical_bottom {
        position: absolute;
        top: 100%;
    }
div.vertical_bottom p.inner {
    margin: 0;
}
    * html div.vertical_bottom p.inner {
        position: relative;
        top: -100%;
    }
    *+html div.vertical_bottom p.inner {
        position: relative;
        top: -100%;
    }


// 詳細
.detail-caption {
  text-align: right !important;
  width: 6em !important;
}
.detail-value {
  text-align: right !important;
  width: 8em !important;
}


// 消化有休リスト
.vacation {
  display: inline-block;
}

.vacation.month {
  width:25px;
  text-align: right;
  font:{
    size: smaller;
    weight: bold;
  }
}

.vacation.date {
  width:25px;
  text-align: center;
  font:{
    size: large;
    weight: bold;
  }
}

.vacation.weekday {
  width:16px;
  font-size: smaller;
}

.vacation.hours_sum {
  width:20px;
  text-align: right;
  font-size: 10px;
  color: #9b9b9b;
}

.vacation.hour {
  width:16px;
  text-align: right;
}

.vacation.memo {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 150px;
}

// 過去日付の文字
.past {
  color: #9b9b9b;
}
