
  <script type="text/javascript">
  <!--
    $(document).ready(function(){
      init();
      
      
      $("#search").on("click", function() {
        ekispertSearch($("#station_from input").val(), $("#station_to input").val());
      });
    });

  var resultApp;

  /*
  * 駅すぱーとWeb APIで駅名検索
  */
  function init(){
    stationApp = new expGuiStation(document.getElementById("station_from"));
    stationApp.dispStation();
    stationApp = new expGuiStation(document.getElementById("station_to"));
    stationApp.dispStation();
  }

  /*
  * 駅すぱーとWeb APIで経路検索
  */
  function ekispertSearch(station_from, stattion_to){
    alert(station_from);
    resultApp = new expGuiCourseLight();
    var searchInterface = resultApp.createSearchInterface();
    searchInterface.setFrom(station_from);
    searchInterface.setTo(stattion_to);
    searchInterface.setSearchType(resultApp.SEARCHTYPE_DEPARTURE);
    searchInterface.setPlane(false);
    searchInterface.setShinkansen(false);
    searchInterface.setLimitedExpress(false);
    searchInterface.setBus(false);
    resultApp.search(searchInterface, ekispertResult);
  }
  /*
  * 探索実行時のコールバック関する
  */
  function ekispertResult(isSuccess){
    if(!isSuccess){
      alert("検索できません");
    }else{
      location.href=resultApp.getResourceURI();
    }
  }
  // -->
  </script>

  from
  <div id="station_from">
  </div>
  to
  <div id="station_to">
  </div>
  <button id="search">検索</button>
